@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}


 /*? shared style  */

    .description{
        font-size: 1.05rem;
        color: black;
        opacity: 60%;
        line-height: 1.7rem;
    }

    .br::after{
        content: '\A';
        white-space: pre;
    }

    .btn{
        color: white;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 1rem 2.5rem;
        border: none;
        background-color: #e55473;
        border-radius: 0.5rem;
        border: 3px solid white;
        transition: 0.5s ease;
        cursor: pointer;

    }

    .btn:hover{
        color: #e55473;
        background-color: white;
        transform: scale(1.01)  ;
        border: 3px solid #e55473;
    }

 /*? shared style end  */


/*? hero section  */

    #hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       background-color: rgb(252,238,241);
       border-bottom: 2px solid #e55473;
        
    }


    .hero-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 8rem;
        width: 80%;
        margin: 0 auto;
    }

    .hero-1{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 2rem;
    }

    .heading{
        font-size: 3.5rem;
        font-weight: 900;
        text-wrap: wrap;
    }

    .hero-2 .img img{
        width: 100%;
        margin-top: 4.3rem;
    }
/*? hero section end  */



/*? hero section responsive  */

@media screen and (max-width:576px) {

    #hero{
        height: auto;
        border: none;
    }

    .hero-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        
    }

    .hero-1{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading{
        text-align: center;
        font-size: 2rem;
    }

    .description{
        text-align: center;
        font-size: 1rem;
    }
    
    .shop-now{
        margin-bottom: 2rem;
    }

    .hero-2{
        display:flex ;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
        margin-top: -9rem;
    }

    .hero-2 .img img{
        width: 15rem;
        height: auto;
        border-bottom: 2px solid #e55473;

    }
    
   

}
    

/* medium devices  */

@media screen and (min-width:576px) and (max-width:992px) {

    #hero{
        height: 100vh;
        border-bottom:2px solid #e55473;
    }

    .hero-container{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

    }

    .hero-1{
        
        width: auto;
        height: auto;
    }

    
    .hero-2 .img img{
        border-bottom:2px solid #e55473;
       
        max-width: 25rem;
        
    }

    .heading{
        font-size: 2rem;
    }
    
    .description{
        font-size: 0.8rem;
    }

    .shop-now .btn{
        font-size: 1rem;
    } 
       
       
        
    }

 
        







/*? hero section responsive end */